@media only screen and (max-width: 600px) {
body{
	background-color: lightblue;
}
}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 18px;
	vertical-align: baseline;
	background: transparent;
}
body {
	font-family: "Calibri", sans-serif;
	font-size: 18px;
	color: rgba(35, 36, 35, 0.8);
	background-color: white;
	/*
	background-color: rgba(35, 36, 35, 0.8);
	color: white;
	*/
	position: absolute;
	width: 100%;
	margin: auto;
	text-align: justify;
}
div {
	word-wrap: break-word;
}
table{
	position: relative;
	width: 100%;
	border-collapse: collapse;
}
th,td {
	padding: 5px;
	text-align: left;
}
li{
	padding: 5px;
}
.paper_list{
	display: block;
	padding: 5px;
	border: 0.5px dotted rgba(54, 56, 55, 0.3);
	margin: 10px;
}
.paper_list:hover{
	box-shadow: 10px 10px 8px #888888;
	background-color: rgba(80, 86, 250, 0.1);
}
.flex-container{
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.flex_row{
	display: flex;
	flex-direction: row !important;
	align-items: flex-start !important;
	justify-content: space-around;
}
.flex_col{
	display: flex;
	flex-direction: column !important;
	align-items: flex-start !important;
	justify-content: space-around;
}
.empty_div{
	position: relative;
	width: 70vw;
}
.menu_pane{
	display: flex;
	align-items: right;
	justify-content: flex-end;
	width: 75%;
	margin: 40px 0px 20px 0px;
	height: 40px;
	box-shadow: 0px 3px 5px 5px rgba(54, 56, 55, 0.1);
}
.menu_items{
	display: flex;
	align-items: center;
	height: 35px;
	font-weight: 500;
	border-bottom: 5px solid transparent;
	padding-left:10px;
	padding-right:10px;
}
.menu_items:hover{
	border-bottom: 5px solid rgba(80, 86, 250, 1);
}
.selected_menu{
	background-color: rgba(80, 86, 250, 1);
	font-weight: 900;
	color: white;
	border-radius: 3px;
}
.empty_menu_item{
	margin: 0px 10px 0px 0px;
	border-right: 1px solid rgba(54, 56, 55, 1);
}
.empty_menu_item:hover{
	border-bottom: 5px solid transparent;
}
.first_name{
	font-size: 24px;
	color: rgba(54, 56, 55, 1);
	font-weight: 900;
}
.last_name{
	font-size: 24px;
	color: gray;
}
.hyperlink{
	cursor: pointer;
}
.dashboard{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: flext-start;
	justify-content: space-around;
	width: 65vw;
	margin: auto;
}
.intro_tile{
	position: relative;
	width: 50%; 
	margin: 10px;
	margin: 0px 0px 20px 0px;
	text-align: justify;
}
.profile_pic{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	position: relative;
	width: 48%; 
}
.contact_details_tile{
	position: relative;
	width: 100%;
	text-align: center;
	font-weight: 900;
	font-size: 14px;
	font-family: "Farsan", sans-serif;
	margin: 0px 0px 20px 0px;
}
.phd_thesis_tile{
	position: relative;
	width: 45%; 
	margin: 10px;
	margin: 0px 0px 20px 0px;
	text-align: justify;
}
.iit_dharwad_project_tile{
	position: relative;
	width: 45%; 
	margin: 10px;
	margin: 0px 0px 20px 0px;
	text-align: justify;
}
.external_profiles{
	position: fixed;
	top: 20vh;
	right: 10px;
	width: 50px;
	height: 40vh;
}
.page_heading{
	font-family: "Farsan", sans-serif;
	font-size:40px;
	text-align: center;
	margin: 10px 0px 10px 0px;
}
.page_subheading{
	margin: 20px 0px 0px 0px;
	font-family: "Farsan", sans-serif;
	font-size: 26px;
	position: relative;
	width: 100%;
	text-align: right;
}
.empty_div{
	
}
.footer{
	width: 100vw;
	height: 50px;
	border-top: 1px solid rgba(40, 40, 117, 1);
	display: flex;
	justify-content: flex-end;
	align-items: center;
	padding: 0px 100px 0px 0px;
	background-color: rgba(54, 56, 55, 1); /* rgba(40, 40, 117, 1); */
	color: gray;
	font-weight: 500;
	font-size: 14px;
}
.logo:hover{
	transform:scale(1.3,1.3);
	-webkit-transform:scale(1.3,1.3);
	-moz-transform:scale(1.3,1.3);	
}
.record_row{
	padding: 10px 0px 10px 0px;
	width:20%; 
	border-radius: 5px;
	border-bottom: 1px solid rgba(54, 56, 55, 0.3);
}
.left_col{
	width: 20%;
}
.right_col{
	width: 80%;
}
.blue_background{
	background-color: rgba(40, 40, 117, 1);
	color: white;
	font-weight: 900;
}
.no_link_deco{
	text-decoration: none;
	color: white;
	background-color: rgba(54, 56, 55, 1);
	font-size: 14px;
}
.abstract_button{
	text-decoration: none;
	color: blue;
	font-weight: 900;
	font-size: 14px;
}
.pdf_button{
	text-decoration: none;
	color: rgb(227, 5, 68);
	font-weight: 900;
	font-size: 14px;
}
.html_button{
	text-decoration: none;
	color: rgb(94, 158, 74);
	font-weight: 900;
	font-size: 14px;
}
