/*
For laptop screens
*/
@media only screen and (min-width: 720px)
{
	.flex_col_group{
		display: flex;
		flex-direction: column !important;
		align-items: flex-start !important;
		justify-content: space-around;
		border-bottom: 1px solid #DDD;
		margin-bottom: 50px;
	}
	.year_wise_content {
		padding: 20px 0px 20px 0px;
		position: relative;
		border-radius: 6px;
		margin-left: 20px;
	}
	.title{
		position: relative;
		width: 100%;
		font-style: italic;
	}
	.authors{
		position: relative;
		width: 100%;
		font-weight: 900;
		color: rgba(45, 120, 250, 1);
		font-style: normal;
	}
	.other_authors{
		position: relative;
		width: 100%;
		font-weight: 400;
		color: rgba(45, 120, 250, 0.5);
		font-style: italic;
	}
	.proceedings{rgba(45, 120, 250, 0.5)
		position: relative;
		width: 100%;
		color: rgba(176, 81, 130, 1);
	}
	.publication_record{
		position: relative;
		width: 100%;
		display: flex;
		flex-direction: row;
		align-items: flex-start;
		justify-content: space-between;
		padding-bottom: 10px;
	}
	.info_div{
		position: relative;
		display: inline-block;
		width: 69%;
		height: 100%;
	}
	.paper_fig{
		position: relative;
		width: 30%;
		max-height: 100%;
		display: flex;
		align-items: center;
		justify-content: space-around;
	}
	.fig_dimensions{
		position: relative;
		max-height: 150px;
		max-width: 100%;
	}
	.abstract_div{
		position: relative;
		width: 100%;
		margin: auto;
		display: none;
		padding: 10px;
		color: rgba(45, 120, 250, 0.8);
		font-style: italic;
		font-size: 16px;
		border: 1px solid rgba(54, 56, 55, 0.1);
		border-radius: 10px;
	}
	.bibtex_div{
		position: relative;
		width: 100%;
		margin: auto;
		display: none;
		padding: 10px;
		color: rgba(45, 120, 250, 1);
		background-color: rgba(54, 56, 55, 0.1);
		font-style: italic;
		font-size: 16px;
		border: 1px solid rgba(54, 56, 55, 0.1);
		border-radius: 10px;
	}
	.abstract_button{
		text-decoration: none;
		color: blue;
		font-weight: 900;
		font-size: 1vw;
	}
	.bibtex_button{
		text-decoration: none;
		color: blue;
		font-weight: 900;
		font-size: 1vw;
		color: rgb(240, 129, 55);
	}
	.pdf_button{
		text-decoration: none;
		color: rgb(227, 5, 68);
		font-weight: 900;
		font-size: 1vw;
	}
	.html_button{
		text-decoration: none;
		color: rgb(94, 158, 74);
		font-weight: 900;
		font-size: 1vw;
	}
}




/*
For mobile screens
*/
@media only screen and (max-width: 720px)
{
	.flex_col{
	}
	.flex_col_group{
		position: relative;
		width: 95%;
		margin: auto;
		display: flex;
		flex-direction: column !important;
		align-items: flex-start !important;
		justify-content: space-around;
		border-bottom: 1px solid #DDD;
		padding-bottom: 5%;
	}
	.year_wise_content {
		position: relative;
		border-radius: 6px;
	}
	.title{
		position: relative;
		width: 100%;
		margin: auto;
		font-style: italic;
	}
	.authors{
		position: relative;
		width: 100%;
		margin: auto;
		font-weight: 900;
		color: rgba(45, 120, 250, 1);
		font-style: normal;
	}
	.other_authors{
		position: relative;
		width: 100%;
		margin: auto;
		font-weight: 400;
		color: rgba(45, 120, 250, 0.5);
		font-style: italic;
	}
	.proceedings{rgba(45, 120, 250, 0.5)
		position: relative;
		width: 100%;
		margin: auto;
		color: rgba(176, 81, 130, 1);
	}
	.publication_record{
		position: relative;
		width: 100%;
		margin: auto;
		padding-bottom: 3%;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: space-between;
	}
	.info_div{
		position: relative;
		display: inline-block;
		width: 100%;
		margin: auto;
	}
	.paper_fig{
		position: relative;
		width: 90%;
		margin: auto;
		display: flex;
		align-items: center;
		justify-content: space-around;
	}
	.fig_dimensions{
		position: relative;
		max-width: 100%;
		margin: auto;
	}
	.abstract_div{
		position: relative;
		width: 100%;
		border: 1px solid rgba(54, 56, 55, 0.1);
		display: none;
		padding: 1%;
		color: rgba(45, 120, 250, 0.8);
		font-style: italic;
		font-size: 4vw;
		height: 150px;
		overflow-y: scroll;
	}
	.bibtex_div{
		position: relative;
		width: 100%;
		margin: auto;
		display: none;
		padding: 1%;
		color: rgba(45, 120, 250, 1);
		background-color: rgba(54, 56, 55, 0.1);
		font-style: italic;
		font-size: 4vw;
		border: 1px solid rgba(54, 56, 55, 0.1);
		border-radius: 10px;
	}
	.abstract_button{
		text-decoration: none;
		color: blue;
		font-weight: 900;
	}
	.bibtex_button{
		text-decoration: none;
		color: blue;
		font-weight: 900;
		color: rgb(240, 129, 55);
	}
	.pdf_button{
		text-decoration: none;
		color: rgb(227, 5, 68);
		font-weight: 900;
	}
	.html_button{
		text-decoration: none;
		color: rgb(94, 158, 74);
		font-weight: 900;
	}
	.mobile_profile_pic{
		position: relative;
		max-width: 100%;
		border: 10px solid rgba(35, 36, 35, 1);
		border-radius: 100%;
	}
}
